@charset "utf-8";
/* CSS Document */
*, :before, :after { -webkit-box-sizing: border-box; box-sizing: border-box; }
html, body { height: 100%; overflow-x:hidden;max-width:640px;width:100%; margin:0 auto; }
html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }
body,* { margin: 0; padding: 0; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, main, nav, section, summary { display: block; }
audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }
audio:not([controls]) { display: none; height: 0; }
[hidden], template, script { display: none; }
a { background-color: transparent; }
a:focus { outline: thin dotted; }
a:active, a:hover { outline: 0; }
a,button,input{-webkit-tap-highlight-color:rgba(255,0,0,0);}
ins, a { text-decoration: none; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: 700; }
pre { white-space: pre-wrap; }
q { quotes: "\201C" "\201D" "\2018" "\2019"; }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -.5em; }
sub { bottom: -.25em; }
img { -webkit-box-sizing: border-box; box-sizing: border-box; vertical-align: middle; border: 0; }
input[type=text],textarea{ -webkit-appearance: none;}
button, html input[type=button], input[type=reset], input[type=submit] { -webkit-appearance: button; cursor: pointer; }
input[type=radio], input[type=checkbox] { cursor: pointer; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }
button[disabled], html input[disabled] { cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { height: auto; }
input[type=search] { -webkit-appearance: textfield; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration { -webkit-appearance: none; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
optgroup { font-weight: 700; }
table { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
html { font-size: 62.5%; -webkit-tap-highlight-color: transparent; }
body {  background: #ebebeb; font-family: "microsoft yahei","微软雅黑","Heiti";line-height: 1.6; color: #333; font-size: 1.6rem; }
body, input, textarea, select, button,samp { font-family: "microsoft yahei","微软雅黑","Heiti";text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -moz-font-feature-settings: "liga","kern"; }


a {color: #111; }
a:focus { outline: none; outline: 0px auto -webkit-focus-ring-color; outline-offset: -2px; }
ins { background: #ffa; color: #333; }
mark { background: #ffa; color: #333; }
abbr[title], dfn[title] { cursor: help; }
dfn[title] { border-bottom: 1px dotted; font-style: normal; }
p, hr, ul, ol, dl, blockquote, pre, address, fieldset, figure {margin:0; padding:0; }
* + p, * + hr, * + ul, * + ol, * + dl, * + blockquote, * + pre, * + address, * + fieldset, * + figure { margin-top:0; }
h1, h2, h3, h4, h5, h6 { margin:0; font-weight: 600; font-size: 100%; }
* + h1, * + h2, * + h3, * + h4, * + h5, * + h6 { margin: 0; }
li{list-style:none;}
ul, ol {}
ul > li > ul, ul > li > ol, ol > li > ol, ol > li > ul { margin:0; }
dt { font-weight: 700; }
dt + dd { margin-top: 0; }
dd { margin-left: 0; }
dd + dt { margin-top: 0; }
em{font-style:normal;}
hr { display: block; padding: 0; border: 0; height: 0; border-top: 1px solid #eee; -webkit-box-sizing: content-box; box-sizing: content-box; }
iframe { border: 0; }
button, input:not([type=radio]):not([type=checkbox]), select { vertical-align: middle; }



.wimg{width:100%; display:block;}
/******/
.re { position: relative; }
.ab { position: absolute; }
.fix{position:fixed!important;}
.fr { float: right; }
.fl { float: left; }
.block{display:block!important;}
.dis_n{display:none!important;}
.dis_0{display:none!important;}

.nobg{background:none!important;}
.noborder{border:0!important;}

.underline{text-decoration:underline!important;}

.p_normal{margin:0 !important;}
.p0{padding:0 !important;}

.pr_10{padding-right:10px !important;}
.pr_5{padding-right:5px !important;}

.pt0{padding-top:0px !important;}
.pt10{padding-top:10px !important;}
.pt5{padding-top:5px !important;}

.pl5{padding-left:5px !important;}


.pb_50{padding-bottom:50px !important;}
.pb_0{padding-bottom:0 !important;}
.pb_10{padding-bottom:10px !important;}
.pb_5{padding-bottom:5px !important;}

.mt_5{margin-top:5px !important; }
.mt_10{margin-top:10px !important; }
.mt_0{margin-top:0px !important; }
.mt_15{margin-top:15px !important; }
.mb_0{margin-bottom:0px !important; }


.w48{width:48% !important;}
.w45{width:45% !important;}

.text-center{text-align:center !important;}
.text-right{text-align:right!important;}
.text-left{text-align:left !important;}
.text-justify{text-align:justify; text-justify:inter-ideograph;}

.fontsize_14{font-size:0.14rem!important;}
.fontsize_16{font-size:0.16rem!important;}
.fontsize_18{font-size:0.18rem!important;}
.fontsize_20{font-size:0.2rem!important;}

.font_normal{font-weight:normal!important;}

.clearfix::after, clearfix:after, clearfix after { clear: both; content: "."; display: block; font-size: 0; height: 0; line-height: 0; visibility: hidden; }
.space{margin:0; padding:0; line-height:0; font-size:0; height:15px; overflow:hidden;}
.grayscale{ filter: grayscale(100%);-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);-ms-filter: grayscale(100%);-o-filter: grayscale(100%);filter: url(desaturate.svg#grayscale);filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);-webkit-filter: grayscale(1);}
.vertical { transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); }
.vertical_center{ transform:translate(-50%,-50%); -moz-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); }
.grayLayer{width:100%; height:100%; background:#eee;position:fixed; left:0; top:0; z-index:-1;}
.grayBg{background:#eee!important;}

#loading{background:rgba(255, 255, 255, 0);position:fixed; z-index:99; height:100%;width:100%; left:0; top:0;}
#loading span { display: block; width: 200px;height:110px;  position: absolute; left: 50%; top: 50%; margin-left: -100px; margin-top: -55px; text-align: center; font-size: 1.4rem;font-weight:300; padding-top:70px; background: url(../images/loading.gif) no-repeat center 20px #fff; border-radius:2px; -webkit-border-radius: 2px; /*-moz-box-shadow:0px 0px 8px  #e5e5e5; -webkit-box-shadow: 0px 0px 8px  #e5e5e5; box-shadow: 0px 0px 8px  #e5e5e5;*/ }
.loading_layer{ width: 100%; background: rgba(0, 0, 0, 0.54); position: fixed; left: 0; top: 0; height: 100%; z-index: 100; display:none;}
.loading_icon{position:absolute; left:50%; top:70%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);}


/****/
.f_Orange { color: #ff6700 !important; }
.f_blue{color:#3399FF!important;}
.f_black{color:#333!important; font-weight:normal;}
.f_red{color:#e50606!important; }
.f_lightGrey{color:#ccc!important; }
.f_green{color:#70c700!important;}
.f_light{color:#999!important; }
.f_navy{color:#00a9c8!important;}

/* WebKit browsers */
::-webkit-input-placeholder { color: #999; }
/* Mozilla Firefox 4 to 18 */
:-moz-placeholder { color: #999; }
/* Mozilla Firefox 19+ */
::-moz-placeholder { color: #999; }
/* Internet Explorer 10+ */
:-ms-input-placeholder { color: #999; }


/**button start **/
.default_btn { display: inline-block;background:#ff501a;  background: -webkit-gradient(linear,0% 0%, 100% 0%, from(#ff501a), to(#ff6920), color-stop(0.5,#ff5b1d)); background: -moz-linear-gradient(0% 0% 0deg, #ff501a,#ff6920); border: 0; width: 100%;height:0.88rem;  text-align: center; color: #fff; font-size:0.32rem; box-shadow: 0 0 15px #ea5e33; -webkit-box-shadow: 0 0 15px #ea5e33; -ms-box-shadow: 0 0 15px #ea5e33; -webkit-border-radius:0.44rem; -moz-border-radius: 0.44rem; border-radius: 0.44rem; }



/**button  end **/

.form_header{padding:1rem 2rem;color:#737373;font-size:1.4rem;}
.form_box{background:#fff;padding:2rem 1.5rem;}
.form_table{width:100%;}
.form_table th{padding-bottom:2rem; font-weight:normal;color:#434343;font-size:1.5rem;text-align:right;width:6rem;padding-right:1.2rem;white-space:nowrap;}
.form_table td{padding-bottom:2rem; }
.input_txt { background:#fff;  border: 0.1rem solid #a2a2a2; width: 100%; padding: 0 1rem; height:35px; color: #434343; font-size: 1.5rem; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }
textarea.input_txt{height:130px; overflow:hidden;padding:10px;}
.input_txt:focus{border:1px solid #e12828;}


.op_box{text-align:center;padding:0 0;}
.submit_btn{margin:0 5%; display:inline-block;height:40px;width:38%; background:#006bd8;border:0;color:#fff;font-size:1.8rem;-webkit-border-radius:6px; -moz-border-radius: 6px; border-radius:6px; }
.cancel_btn{margin:0 5%; display:inline-block;height:40px;width:38%; background:#bbb;border:0;color:#fff;font-size:1.8rem;-webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius:6px; }


.Inquire_box{padding:1.5rem 1rem;}
.Inquire_table{width:100%;}
.Inquire_table th{padding-bottom:1rem; font-weight:normal;color:#737373;font-size:1.5rem;text-align:right;width:6rem;padding-right:1.2rem;white-space:nowrap;}
.Inquire_table td{padding-bottom:1rem; }
.input_max { background:#fff;  border: 0.1rem solid #a2a2a2; width: 100%; padding: 0 1rem; height:35px; color: #434343; font-size: 1.5rem; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }

.Inquire_op .submit_btn{width:100%;margin:0;}

.subsidy_result{padding-top:0.5rem;}
.subsidy_list li{padding-bottom:1rem;}
.subsidy_header{background:#fff;padding:1rem;color:#323232;font-size:1.5rem;}
.subsidy_header p{padding:3px 0;}
.subsidy_txt{padding:1rem;color:#323232;font-size:1.5rem;}
.subsidy_txt p{padding:3px 0;}

.new_header{padding:1.5rem 1rem;}
.new_table{width:100%;}
.new_table th{width:80px;white-space:normal;}
.new_table .submit_btn{width:100%; height:34px;font-size:1.6rem;}

.new_title{background:#fff; padding:1rem 1rem 0.8rem 1rem;color:#434343;font-size:1.5rem;}
.news_list{padding-top:5px;}
.news_list li{position:relative;padding:5px 1rem;color:#434343;font-size:1.4rem;padding-right:100px;}
.news_list li span{position:absolute;right:1rem; top:5px;}

.feed_list{padding-top:1rem;}
.feed_list li{padding-bottom:1rem;}
.feed_list li a{display:block;width:100%; background:#fff;padding-bottom:1rem;}
.feed_list li h2{margin-bottom:1rem; border-bottom:1px solid #ebebeb;padding:1rem 1rem 0.7rem 1rem; position:relative;}
.right_icon{position:absolute;right:5px;top:1.5rem; display:block;width:0.7rem; height:1.4rem;background:url(../images/icon/right_icon.png) no-repeat left top;background-size:contain;}
.feed_list li p{color:#434343;font-size:1.4rem;padding:2px 1rem;}

.feed_box{background:#fff;margin-top:2rem;}
.feed_box h2{border-bottom:1px solid #ebebeb;padding:1rem 70px 0.7rem 1rem; position:relative;}
.feed_box b{font-weight:normal;position:absolute;right:1rem; top:1rem;}
.feed_box p{color:#434343;font-size:1.5rem;padding:1.5rem;}
.feed_box h3{border-top:1px solid #ebebeb;padding:1rem 1rem 0.7rem 1rem;font-weight:normal;font-size:1.3rem; }


